---
name: testing CI

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  python-checks:
    strategy:
      matrix:
        include:
          # MANDATORY CHECKS USING CURRENT DEVELOPMENT INTERPRETER
          - dependencies: >
              pylint
              python3-dbus
              python3-psutil
            image: fedora:32
            task: PYTHONPATH=./src make -f Makefile lint
          - dependencies: >
              black
              python3-isort
            image: fedora:32
            task: make -f Makefile fmt-travis
          # MANDATORY CHECKS USING LOWEST DEVELOPMENT INTERPRETER
          - dependencies: >
              pylint
              python3-dbus
              python3-psutil
            image: fedora:29
            task: PYTHONPATH=./src make -f Makefile lint
          # VERIFICATION OF TEST INFRASTRUCTURE
          - dependencies: yamllint
            image: fedora:32
            task: make -f Makefile yamllint
    runs-on: ubuntu-18.04
    container: ${{ matrix.image }}
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: >
          dnf install -y
          make
          python-unversioned-command
          ${{ matrix.dependencies }}
      - name: Run test
        run: ${{ matrix.task }}
