---
name: testing weekly

# yamllint disable-line rule:truthy
on:
  schedule:
    - cron: 20 3 * * 3
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  next-fedora-python-checks:
    continue-on-error: true
    strategy:
      matrix:
        include:
          # PYTHON CHECKS ON NEXT FEDORA PYTHON AND PYTHON TOOLS VERSION
          - dependencies: >
              pylint
              python3-dbus
              python3-dbus-python-client-gen
              python3-gobject
              python3-psutil
            task: PYTHONPATH=./src make -f Makefile lint
          - dependencies: black python3-isort
            task: make -f Makefile fmt-travis
          - dependencies: yamllint
            task: make -f Makefile yamllint
    runs-on: ubuntu-18.04
    container: fedora:38  # NEXT DEVELOPMENT ENVIRONMENT
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: >
          dnf install -y
          make
          python-unversioned-command
          ${{ matrix.dependencies }}
      - name: Display Python version
        run: python --version
      - name: ${{ matrix.task }}
        run: ${{ matrix.task }}
